In [1]:
%load_ext autoreload 
%autoreload 2

%aimport -pandas
%aimport -scipy.stats
%aimport -numpy
%aimport -matplotlib.pyplot

import default_calcs as default
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas
import collateral_waterfall as cw
import prepayment_calcs as pc
import xlwings as xw

pd.options.display.float_format = '{:,.2f}'.format

In [2]:
gross = 0.09
net = 0.085
wam = 355
CPR = '15'
bal = 1000

In [19]:
collateral = cw.create_waterfall(original_balance=bal,
                                pass_thru_cpn=net,
                                wac=gross,
                                wam=wam,
                                psa_speed=1,
                                 servicing=.00042,
                                cpr_description=CPR)

In [32]:
CPR = '15 ramp 40 for 6, 40'

In [41]:
collateral = cw.create_waterfall(original_balance=bal,
                                pass_thru_cpn=net,
                                wac=gross,
                                wam=wam,
                                psa_speed=1,
                                 servicing=.005,
                                cpr_description=CPR)

In [42]:
collateral[:6]

,beginning_balance,SMM,cash_flow,mortgage_payments,net_interest,prepayments,scheduled_principal,servicing,total_principal
month,,,,,,,,,
1,"1,000.00",0.01,21.10,8.07,7.08,13.44,0.57,0.42,14.01
2,985.99,0.02,25.70,7.96,6.98,18.15,0.57,0.41,18.72
3,967.27,0.02,30.31,7.81,6.85,22.90,0.56,0.40,23.46
4,943.81,0.03,34.86,7.63,6.69,27.62,0.55,0.39,28.17
5,915.63,0.04,39.29,7.40,6.49,32.27,0.54,0.38,32.81
6,882.83,0.04,43.55,7.14,6.25,36.77,0.52,0.37,37.29

In [67]:
CPR = '40'
df = cw.create_waterfall(original_balance=100,
                                pass_thru_cpn=net,
                                wac=gross,
                                wam=wam,
                                psa_speed=1,
                                 servicing=.005,
                                cpr_description=CPR)
df.to_clipboard()

In [66]:
df = pd.DataFrame()

CPR = ['5','15','20']
for speed in CPR:
    cw.create_waterfall(original_balance=bal,
                                pass_thru_cpn=net,
                                wac=gross,
                                wam=wam,
                                psa_speed=1,
                                cpr_description=speed)[[
        'beginning_balance','net_interest','total_principal']][:6]

In [57]:
print(df)
df.apply(sum)

         5   15   20
month
1     7.08 7.08 7.08
2     7.05 6.98 6.95
3     7.02 6.89 6.82
4     6.98 6.79 6.69
5     6.95 6.69 6.56
6     6.91 6.60 6.44

5    41.99
15   41.04
20   40.53
dtype: float64